In [ ]:
'''
!DOCSTRING
This notebook intends to collect all the rows from each CSV and stack it
into one single CSV file.
'''

In [40]:
import os
import pandas as pd

In [41]:
os.getcwd()

'/Users/naren/Documents/Northeastern/Courses/IE 6600/Project 2/Full Dataset/CSV'

In [42]:
os.chdir("/Users/naren/Documents/Northeastern/Courses/IE 6600/Project 2/Full Dataset/CSV/")

In [43]:
os.listdir()

['201805-capitalbikeshare-tripdata.csv',
 '2016Q2-capitalbikeshare-tripdata.csv',
 '201910-capitalbikeshare-tripdata.csv',
 '2013Q2-capitalbikeshare-tripdata.csv',
 '2015Q4-capitalbikeshare-tripdata.csv',
 '202004-capitalbikeshare-tripdata.csv',
 '201901-capitalbikeshare-tripdata.csv',
 '201802-capitalbikeshare-tripdata.csv',
 '202107-capitalbikeshare-tripdata.csv',
 '.DS_Store',
 '2012Q1-capitalbikeshare-tripdata.csv',
 '201909-capitalbikeshare-tripdata.csv',
 '202012-capitalbikeshare-tripdata.csv',
 '202108-capitalbikeshare-tripdata.csv',
 '202003-capitalbikeshare-tripdata.csv',
 '2017Q1-capitalbikeshare-tripdata.csv',
 '201906-capitalbikeshare-tripdata.csv',
 '2015Q3-capitalbikeshare-tripdata.csv',
 '202005-capitalbikeshare-tripdata.csv',
 '202110-capitalbikeshare-tripdata.csv',
 '2013Q3-capitalbikeshare-tripdata.csv',
 '201911-capitalbikeshare-tripdata.csv',
 '2014Q1-capitalbikeshare-tripdata.csv',
 '201804-capitalbikeshare-tripdata.csv',
 '202101-capitalbikeshare-tripdata.csv',
 '2016Q3-capitalbikeshare-tripdata.csv',
 '2015Q2-capitalbikeshare-tripdata.csv',
 '202002-capitalbikeshare-tripdata.csv',
 '201907-capitalbikeshare-tripdata.csv',
 '201812-capitalbikeshare-tripdata.csv',
 '202109-capitalbikeshare-tripdata.csv',
 '2013Q4-capitalbikeshare-tripdata.csv',
 '201908-capitalbikeshare-tripdata.csv',
 '201803-capitalbikeshare-tripdata.csv',
 '202106-capitalbikeshare-tripdata.csv',
 '2016Q4-capitalbikeshare-tripdata.csv',
 '202001-capitalbikeshare-tripdata.csv',
 '2017Q3-capitalbikeshare-tripdata.csv',
 '201904-capitalbikeshare-tripdata.csv',
 '2015Q1-capitalbikeshare-tripdata.csv',
 '201811-capitalbikeshare-tripdata.csv',
 '2010-capitalbikeshare-tripdata.csv',
 '2012Q3-capitalbikeshare-tripdata.csv',
 '202010-capitalbikeshare-tripdata.csv',
 '202105-capitalbikeshare-tripdata.csv',
 '202006-capitalbikeshare-tripdata.csv',
 '2017Q4-capitalbikeshare-tripdata.csv',
 '201903-capitalbikeshare-tripdata.csv',
 '201808-capitalbikeshare-tripdata.csv',
 '201912-capitalbikeshare-tripdata.csv',
 '202009-capitalbikeshare-tripdata.csv',
 '2012Q4-capitalbikeshare-tripdata.csv',
 '201801_capitalbikeshare_tripdata.csv',
 '201807-capitalbikeshare-tripdata.csv',
 '202102-capitalbikeshare-tripdata.csv',
 '2014Q2-capitalbikeshare-tripdata.csv',
 '202104-capitalbikeshare-tripdata.csv',
 '2014Q4-capitalbikeshare-tripdata.csv',
 '2012Q2-capitalbikeshare-tripdata.csv',
 '202011-capitalbikeshare-tripdata.csv',
 '2011-capitalbikeshare-tripdata.csv',
 '201810-capitalbikeshare-tripdata.csv',
 '2017Q2-capitalbikeshare-tripdata.csv',
 '201905-capitalbikeshare-tripdata.csv',
 '2014Q3-capitalbikeshare-tripdata.csv',
 '201806-capitalbikeshare-tripdata.csv',
 '202103-capitalbikeshare-tripdata.csv',
 '2016Q1-capitalbikeshare-tripdata.csv',
 '202008-capitalbikeshare-tripdata.csv',
 '201809-capitalbikeshare-tripdata.csv',
 '2013Q1-capitalbikeshare-tripdata.csv',
 '202007-capitalbikeshare-tripdata.csv',
 '201902-capitalbikeshare-tripdata.csv']

In [44]:
new_df = dict()
csv_list = os.listdir()
csv_list.sort()

csv_list.remove(".DS_Store")
try:
    for f in csv_list:
        df = pd.read_csv(f, nrows=1)
        new_df[f[:6]] = list(df.columns)
except Exception as E:
    print(E)

In [45]:
f[:6]

'202110'

In [46]:
b = list(new_df.values())

temp_list = list()
for x in b:
    if x not in temp_list:
        temp_list.append(x)

temp_list

[['Duration',
  'Start date',
  'End date',
  'Start station number',
  'Start station',
  'End station number',
  'End station',
  'Bike number',
  'Member type'],
 ['ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'Address',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual'],
 ['ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual']]

In [47]:
csv_list

['2010-capitalbikeshare-tripdata.csv',
 '2011-capitalbikeshare-tripdata.csv',
 '2012Q1-capitalbikeshare-tripdata.csv',
 '2012Q2-capitalbikeshare-tripdata.csv',
 '2012Q3-capitalbikeshare-tripdata.csv',
 '2012Q4-capitalbikeshare-tripdata.csv',
 '2013Q1-capitalbikeshare-tripdata.csv',
 '2013Q2-capitalbikeshare-tripdata.csv',
 '2013Q3-capitalbikeshare-tripdata.csv',
 '2013Q4-capitalbikeshare-tripdata.csv',
 '2014Q1-capitalbikeshare-tripdata.csv',
 '2014Q2-capitalbikeshare-tripdata.csv',
 '2014Q3-capitalbikeshare-tripdata.csv',
 '2014Q4-capitalbikeshare-tripdata.csv',
 '2015Q1-capitalbikeshare-tripdata.csv',
 '2015Q2-capitalbikeshare-tripdata.csv',
 '2015Q3-capitalbikeshare-tripdata.csv',
 '2015Q4-capitalbikeshare-tripdata.csv',
 '2016Q1-capitalbikeshare-tripdata.csv',
 '2016Q2-capitalbikeshare-tripdata.csv',
 '2016Q3-capitalbikeshare-tripdata.csv',
 '2016Q4-capitalbikeshare-tripdata.csv',
 '2017Q1-capitalbikeshare-tripdata.csv',
 '2017Q2-capitalbikeshare-tripdata.csv',
 '2017Q3-capitalbikeshare-tripdata.csv',
 '2017Q4-capitalbikeshare-tripdata.csv',
 '201801_capitalbikeshare_tripdata.csv',
 '201802-capitalbikeshare-tripdata.csv',
 '201803-capitalbikeshare-tripdata.csv',
 '201804-capitalbikeshare-tripdata.csv',
 '201805-capitalbikeshare-tripdata.csv',
 '201806-capitalbikeshare-tripdata.csv',
 '201807-capitalbikeshare-tripdata.csv',
 '201808-capitalbikeshare-tripdata.csv',
 '201809-capitalbikeshare-tripdata.csv',
 '201810-capitalbikeshare-tripdata.csv',
 '201811-capitalbikeshare-tripdata.csv',
 '201812-capitalbikeshare-tripdata.csv',
 '201901-capitalbikeshare-tripdata.csv',
 '201902-capitalbikeshare-tripdata.csv',
 '201903-capitalbikeshare-tripdata.csv',
 '201904-capitalbikeshare-tripdata.csv',
 '201905-capitalbikeshare-tripdata.csv',
 '201906-capitalbikeshare-tripdata.csv',
 '201907-capitalbikeshare-tripdata.csv',
 '201908-capitalbikeshare-tripdata.csv',
 '201909-capitalbikeshare-tripdata.csv',
 '201910-capitalbikeshare-tripdata.csv',
 '201911-capitalbikeshare-tripdata.csv',
 '201912-capitalbikeshare-tripdata.csv',
 '202001-capitalbikeshare-tripdata.csv',
 '202002-capitalbikeshare-tripdata.csv',
 '202003-capitalbikeshare-tripdata.csv',
 '202004-capitalbikeshare-tripdata.csv',
 '202005-capitalbikeshare-tripdata.csv',
 '202006-capitalbikeshare-tripdata.csv',
 '202007-capitalbikeshare-tripdata.csv',
 '202008-capitalbikeshare-tripdata.csv',
 '202009-capitalbikeshare-tripdata.csv',
 '202010-capitalbikeshare-tripdata.csv',
 '202011-capitalbikeshare-tripdata.csv',
 '202012-capitalbikeshare-tripdata.csv',
 '202101-capitalbikeshare-tripdata.csv',
 '202102-capitalbikeshare-tripdata.csv',
 '202103-capitalbikeshare-tripdata.csv',
 '202104-capitalbikeshare-tripdata.csv',
 '202105-capitalbikeshare-tripdata.csv',
 '202106-capitalbikeshare-tripdata.csv',
 '202107-capitalbikeshare-tripdata.csv',
 '202108-capitalbikeshare-tripdata.csv',
 '202109-capitalbikeshare-tripdata.csv',
 '202110-capitalbikeshare-tripdata.csv']

2020-04 is the marker

In [51]:
csv_list = os.listdir()
csv_list.sort()
csv_list.remove('.DS_Store')
csv_list1 = csv_list[22:53]
csv_list2 = csv_list[53:72]

In [52]:
collect_df = pd.DataFrame()

colnamedict = dict(zip(['Duration', 'Start date', 'End date', 'Start station number', 
                'End station number', 'Member type'], ['ride_id', 'started_at', 'ended_at', 
                'start_station_id', 'end_station_id', 'member_casual']))

In [53]:
for f in csv_list1:
    df = pd.read_csv(f, 
    usecols=['Duration',
            'Start date',
            'End date',         
            'Start station number',
            'End station number',
            'Member type'])
    df.rename(columns=colnamedict, inplace=True)
    collect_df = collect_df.append(df, ignore_index=True)

    l = list(df)
    del df
    del l
    print(f)

for f in csv_list2:
    df = pd.read_csv(f,
        usecols=['ride_id',         #To convert to duration by ended_at - started_at
            'started_at',
            'ended_at',
            'start_station_id',
            'end_station_id',
            'member_casual'])
    collect_df = collect_df.append(df, ignore_index=True)
    print(f)

    l = list(df)
    del df
    del l

2017Q1-capitalbikeshare-tripdata.csv
2017Q2-capitalbikeshare-tripdata.csv
2017Q3-capitalbikeshare-tripdata.csv
2017Q4-capitalbikeshare-tripdata.csv
201801_capitalbikeshare_tripdata.csv
201802-capitalbikeshare-tripdata.csv
201803-capitalbikeshare-tripdata.csv
201804-capitalbikeshare-tripdata.csv
201805-capitalbikeshare-tripdata.csv
201806-capitalbikeshare-tripdata.csv
201807-capitalbikeshare-tripdata.csv
201808-capitalbikeshare-tripdata.csv
201809-capitalbikeshare-tripdata.csv
201810-capitalbikeshare-tripdata.csv
201811-capitalbikeshare-tripdata.csv
201812-capitalbikeshare-tripdata.csv
201901-capitalbikeshare-tripdata.csv
201902-capitalbikeshare-tripdata.csv
201903-capitalbikeshare-tripdata.csv
201904-capitalbikeshare-tripdata.csv
201905-capitalbikeshare-tripdata.csv
201906-capitalbikeshare-tripdata.csv
201907-capitalbikeshare-tripdata.csv
201908-capitalbikeshare-tripdata.csv
201909-capitalbikeshare-tripdata.csv
201910-capitalbikeshare-tripdata.csv
201911-capitalbikeshare-tripdata.csv
201912-capitalbikeshare-tripdata.csv
202001-capitalbikeshare-tripdata.csv
202002-capitalbikeshare-tripdata.csv
202003-capitalbikeshare-tripdata.csv
202004-capitalbikeshare-tripdata.csv
202005-capitalbikeshare-tripdata.csv
202006-capitalbikeshare-tripdata.csv
202007-capitalbikeshare-tripdata.csv
202008-capitalbikeshare-tripdata.csv
202009-capitalbikeshare-tripdata.csv
202010-capitalbikeshare-tripdata.csv
202011-capitalbikeshare-tripdata.csv
202012-capitalbikeshare-tripdata.csv
202101-capitalbikeshare-tripdata.csv
202102-capitalbikeshare-tripdata.csv
202103-capitalbikeshare-tripdata.csv
202104-capitalbikeshare-tripdata.csv
202105-capitalbikeshare-tripdata.csv
202106-capitalbikeshare-tripdata.csv
202107-capitalbikeshare-tripdata.csv
202108-capitalbikeshare-tripdata.csv
202109-capitalbikeshare-tripdata.csv
202110-capitalbikeshare-tripdata.csv

In [54]:
collect_df.started_at = collect_df.started_at.astype('datetime64')
collect_df.ended_at = collect_df.ended_at.astype('datetime64')

collect_df.ride_id = (collect_df.ended_at - collect_df.started_at).dt.total_seconds()
collect_df.ride_id = collect_df.ride_id.astype('int32')

collect_df.rename(columns={"ride_id": "duration"}, inplace=True)

In [55]:
collect_df

,duration,started_at,ended_at,start_station_id,end_station_id,member_casual
0,222,2017-01-01 00:00:41,2017-01-01 00:04:23,31634.0,31208.0,Member
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258.0,31270.0,Casual
2,1357,2017-01-01 00:07:10,2017-01-01 00:29:47,31289.0,31222.0,Casual
3,1328,2017-01-01 00:07:22,2017-01-01 00:29:30,31289.0,31222.0,Casual
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258.0,31270.0,Casual
...,...,...,...,...,...,...
15232764,2766,2021-10-27 19:17:28,2021-10-27 20:03:34,31291.0,31707.0,member
15232765,971,2021-10-05 18:10:06,2021-10-05 18:26:17,31291.0,31649.0,casual
15232766,396,2021-10-14 13:32:51,2021-10-14 13:39:27,31230.0,31266.0,member
15232767,428,2021-10-28 19:13:39,2021-10-28 19:20:47,31201.0,31266.0,member
15232768,1096,2021-10-15 01:21:01,2021-10-15 01:39:17,31201.0,31266.0,member

In [56]:
collect_df = collect_df[collect_df.duration > 0]

In [57]:
collect_df.dropna(inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [58]:
import re 

digit_pattern = re.compile("^\d+\.*\d*$")
a = list(collect_df["start_station_id"])
filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

collect_df = collect_df[filt]

In [59]:
a = list(collect_df["end_station_id"])
filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

collect_df = collect_df[filt]

In [60]:
collect_df.start_station_id = collect_df.start_station_id.astype(int)
collect_df.end_station_id = collect_df.end_station_id.astype(int)

In [61]:
collect_df.to_csv("../bike_share_data_all2.csv")

In [62]:
os.chdir("../")

In [63]:
loc_df = pd.read_csv("location_unique2.csv")

In [64]:
loc_df

                          station_name  station_id        lat        lng
0    Rhode Island & Connecticut Ave NW       31239  38.905996 -77.039802
1                       21st & I St NW       31205  38.900711 -77.046449
2       Connecticut Ave & Tilden St NW       31313  38.941139 -77.061977
3                        7th & E St SW       31294  38.883450 -77.021741
4        Potomac & Pennsylvania Ave SE       31606  38.880300 -76.986200
..                                 ...         ...        ...        ...
666             Hartland Rd & Harte Pl       32255  38.878601 -77.222808
667              Arizona & McArthur NW       31331  38.927294 -77.103662
668               4th & Florida Ave NE       31532  38.907316 -77.000698
669               Motivate Tech Office       32902        NaN        NaN
670         N Howard St & N Imboden St       31952  38.818509 -77.105564

[671 rows x 4 columns]

In [65]:
collect_df = collect_df.merge(loc_df, 'left', left_on="start_station_id",
                    right_on="station_id").rename(columns={"station_name": "start_station_name",
                    "lat": "start_lat", 
                    "lng": "start_lng"})

collect_df = collect_df.merge(loc_df, 'left', left_on="end_station_id",
                    right_on="station_id").rename(columns={"station_name": "end_station_name",
                    "lat": "end_lat", 
                    "lng": "end_lng"})

In [22]:
collect_df.drop(columns=["station_id_x", "station_id_y"], inplace=True)

In [66]:
collect_df.isna().sum() * 100 / collect_df.shape[0]

duration              0.000000
started_at            0.000000
ended_at              0.000000
start_station_id      0.000000
end_station_id        0.000000
member_casual         0.000000
start_station_name    0.086680
station_id_x          0.086680
start_lat             0.086734
start_lng             0.086734
end_station_name      0.089983
station_id_y          0.089983
end_lat               0.090043
end_lng               0.090043
dtype: float64

In [61]:
collect_df.to_csv("bike_final_data.csv", index=False)