In [ ]:
'''
!DOCSTRING
This notebook is to collect the yearly data.
'''

In [1]:
import os
import pandas as pd

In [4]:
os.getcwd()

'/Users/naren/Documents/Northeastern/Courses/IE 6600/Project 2'

In [5]:
os.chdir("/Users/naren/Documents/Northeastern/Courses/IE 6600/Project 2/Full Dataset/CSV/")

In [6]:
os.listdir()

['201805-capitalbikeshare-tripdata.csv',
 '2016Q2-capitalbikeshare-tripdata.csv',
 '201910-capitalbikeshare-tripdata.csv',
 '2013Q2-capitalbikeshare-tripdata.csv',
 '2015Q4-capitalbikeshare-tripdata.csv',
 '202004-capitalbikeshare-tripdata.csv',
 '201901-capitalbikeshare-tripdata.csv',
 '201802-capitalbikeshare-tripdata.csv',
 '202107-capitalbikeshare-tripdata.csv',
 '.DS_Store',
 '2012Q1-capitalbikeshare-tripdata.csv',
 '201909-capitalbikeshare-tripdata.csv',
 '202012-capitalbikeshare-tripdata.csv',
 '202108-capitalbikeshare-tripdata.csv',
 '202003-capitalbikeshare-tripdata.csv',
 '2017Q1-capitalbikeshare-tripdata.csv',
 '201906-capitalbikeshare-tripdata.csv',
 '2015Q3-capitalbikeshare-tripdata.csv',
 '202005-capitalbikeshare-tripdata.csv',
 '202110-capitalbikeshare-tripdata.csv',
 '2013Q3-capitalbikeshare-tripdata.csv',
 '201911-capitalbikeshare-tripdata.csv',
 '2014Q1-capitalbikeshare-tripdata.csv',
 '201804-capitalbikeshare-tripdata.csv',
 '202101-capitalbikeshare-tripdata.csv',
 '2016Q3-capitalbikeshare-tripdata.csv',
 '2015Q2-capitalbikeshare-tripdata.csv',
 '202002-capitalbikeshare-tripdata.csv',
 '201907-capitalbikeshare-tripdata.csv',
 '201812-capitalbikeshare-tripdata.csv',
 '202109-capitalbikeshare-tripdata.csv',
 '2013Q4-capitalbikeshare-tripdata.csv',
 '201908-capitalbikeshare-tripdata.csv',
 '201803-capitalbikeshare-tripdata.csv',
 '202106-capitalbikeshare-tripdata.csv',
 '2016Q4-capitalbikeshare-tripdata.csv',
 '202001-capitalbikeshare-tripdata.csv',
 '2017Q3-capitalbikeshare-tripdata.csv',
 '201904-capitalbikeshare-tripdata.csv',
 '2015Q1-capitalbikeshare-tripdata.csv',
 '201811-capitalbikeshare-tripdata.csv',
 '2010-capitalbikeshare-tripdata.csv',
 '2012Q3-capitalbikeshare-tripdata.csv',
 '202010-capitalbikeshare-tripdata.csv',
 '202105-capitalbikeshare-tripdata.csv',
 '202006-capitalbikeshare-tripdata.csv',
 '2017Q4-capitalbikeshare-tripdata.csv',
 '201903-capitalbikeshare-tripdata.csv',
 '201808-capitalbikeshare-tripdata.csv',
 '201912-capitalbikeshare-tripdata.csv',
 '202009-capitalbikeshare-tripdata.csv',
 '2012Q4-capitalbikeshare-tripdata.csv',
 '201801_capitalbikeshare_tripdata.csv',
 '201807-capitalbikeshare-tripdata.csv',
 '202102-capitalbikeshare-tripdata.csv',
 '2014Q2-capitalbikeshare-tripdata.csv',
 '202104-capitalbikeshare-tripdata.csv',
 '2014Q4-capitalbikeshare-tripdata.csv',
 '2012Q2-capitalbikeshare-tripdata.csv',
 '202011-capitalbikeshare-tripdata.csv',
 '2011-capitalbikeshare-tripdata.csv',
 '201810-capitalbikeshare-tripdata.csv',
 '2017Q2-capitalbikeshare-tripdata.csv',
 '201905-capitalbikeshare-tripdata.csv',
 '2014Q3-capitalbikeshare-tripdata.csv',
 '201806-capitalbikeshare-tripdata.csv',
 '202103-capitalbikeshare-tripdata.csv',
 '2016Q1-capitalbikeshare-tripdata.csv',
 '202008-capitalbikeshare-tripdata.csv',
 '201809-capitalbikeshare-tripdata.csv',
 '2013Q1-capitalbikeshare-tripdata.csv',
 '202007-capitalbikeshare-tripdata.csv',
 '201902-capitalbikeshare-tripdata.csv']

2020-04 is the marker

In [8]:
csv_list = os.listdir()
csv_list.sort()
csv_list.remove('.DS_Store')
csv_list1 = csv_list[:53]
csv_list2 = csv_list[53:72]

In [9]:
collect_df = pd.DataFrame()

colnamedict = dict(zip(['Duration', 'Start date', 'End date', 'Start station number', 
                'End station number', 'Member type'], ['ride_id', 'started_at', 'ended_at', 
                'start_station_id', 'end_station_id', 'member_casual']))

In [10]:
for f in csv_list1:
    df = pd.read_csv(f, 
    usecols=['Duration',
            'Start date',
            'End date',         
            'Start station number',
            'End station number',
            'Member type'])
    df.rename(columns=colnamedict, inplace=True)
    collect_df = collect_df.append(df, ignore_index=True)

    l = list(df)
    del df
    del l
    print(f)

for f in csv_list2:
    df = pd.read_csv(f,
        usecols=['ride_id',         #To convert to duration by ended_at - started_at
            'started_at',
            'ended_at',
            'start_station_id',
            'end_station_id',
            'member_casual'])
    collect_df = collect_df.append(df, ignore_index=True)
    print(f)

    l = list(df)
    del df
    del l

2010-capitalbikeshare-tripdata.csv
2011-capitalbikeshare-tripdata.csv
2012Q1-capitalbikeshare-tripdata.csv
2012Q2-capitalbikeshare-tripdata.csv
2012Q3-capitalbikeshare-tripdata.csv
2012Q4-capitalbikeshare-tripdata.csv
2013Q1-capitalbikeshare-tripdata.csv
2013Q2-capitalbikeshare-tripdata.csv
2013Q3-capitalbikeshare-tripdata.csv
2013Q4-capitalbikeshare-tripdata.csv
2014Q1-capitalbikeshare-tripdata.csv
2014Q2-capitalbikeshare-tripdata.csv
2014Q3-capitalbikeshare-tripdata.csv
2014Q4-capitalbikeshare-tripdata.csv
2015Q1-capitalbikeshare-tripdata.csv
2015Q2-capitalbikeshare-tripdata.csv
2015Q3-capitalbikeshare-tripdata.csv
2015Q4-capitalbikeshare-tripdata.csv
2016Q1-capitalbikeshare-tripdata.csv
2016Q2-capitalbikeshare-tripdata.csv
2016Q3-capitalbikeshare-tripdata.csv
2016Q4-capitalbikeshare-tripdata.csv
2017Q1-capitalbikeshare-tripdata.csv
2017Q2-capitalbikeshare-tripdata.csv
2017Q3-capitalbikeshare-tripdata.csv
2017Q4-capitalbikeshare-tripdata.csv
201801_capitalbikeshare_tripdata.csv
201802-capitalbikeshare-tripdata.csv
201803-capitalbikeshare-tripdata.csv
201804-capitalbikeshare-tripdata.csv
201805-capitalbikeshare-tripdata.csv
201806-capitalbikeshare-tripdata.csv
201807-capitalbikeshare-tripdata.csv
201808-capitalbikeshare-tripdata.csv
201809-capitalbikeshare-tripdata.csv
201810-capitalbikeshare-tripdata.csv
201811-capitalbikeshare-tripdata.csv
201812-capitalbikeshare-tripdata.csv
201901-capitalbikeshare-tripdata.csv
201902-capitalbikeshare-tripdata.csv
201903-capitalbikeshare-tripdata.csv
201904-capitalbikeshare-tripdata.csv
201905-capitalbikeshare-tripdata.csv
201906-capitalbikeshare-tripdata.csv
201907-capitalbikeshare-tripdata.csv
201908-capitalbikeshare-tripdata.csv
201909-capitalbikeshare-tripdata.csv
201910-capitalbikeshare-tripdata.csv
201911-capitalbikeshare-tripdata.csv
201912-capitalbikeshare-tripdata.csv
202001-capitalbikeshare-tripdata.csv
202002-capitalbikeshare-tripdata.csv
202003-capitalbikeshare-tripdata.csv
202004-capitalbikeshare-tripdata.csv
202005-capitalbikeshare-tripdata.csv
202006-capitalbikeshare-tripdata.csv
202007-capitalbikeshare-tripdata.csv
202008-capitalbikeshare-tripdata.csv
202009-capitalbikeshare-tripdata.csv
202010-capitalbikeshare-tripdata.csv
202011-capitalbikeshare-tripdata.csv
202012-capitalbikeshare-tripdata.csv
202101-capitalbikeshare-tripdata.csv

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

202102-capitalbikeshare-tripdata.csv
202103-capitalbikeshare-tripdata.csv
202104-capitalbikeshare-tripdata.csv
202105-capitalbikeshare-tripdata.csv
202106-capitalbikeshare-tripdata.csv
202107-capitalbikeshare-tripdata.csv
202108-capitalbikeshare-tripdata.csv
202109-capitalbikeshare-tripdata.csv
202110-capitalbikeshare-tripdata.csv

In [11]:
collect_df.started_at = collect_df.started_at.astype('datetime64')
collect_df.ended_at = collect_df.ended_at.astype('datetime64')

collect_df.ride_id = (collect_df.ended_at - collect_df.started_at).dt.total_seconds()
collect_df.ride_id = collect_df.ride_id.astype('int32')

collect_df.rename(columns={"ride_id": "duration"}, inplace=True)

In [12]:
collect_df

,duration,started_at,ended_at,start_station_id,end_station_id,member_casual
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208.0,31108.0,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209.0,31209.0,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600.0,31100.0,Member
3,1407,2010-09-20 12:06:05,2010-09-20 12:29:32,31600.0,31602.0,Member
4,1414,2010-09-20 12:10:43,2010-09-20 12:34:17,31100.0,31201.0,Member
...,...,...,...,...,...,...
30592630,2766,2021-10-27 19:17:28,2021-10-27 20:03:34,31291.0,31707.0,member
30592631,971,2021-10-05 18:10:06,2021-10-05 18:26:17,31291.0,31649.0,casual
30592632,396,2021-10-14 13:32:51,2021-10-14 13:39:27,31230.0,31266.0,member
30592633,428,2021-10-28 19:13:39,2021-10-28 19:20:47,31201.0,31266.0,member
30592634,1096,2021-10-15 01:21:01,2021-10-15 01:39:17,31201.0,31266.0,member

In [13]:
collect_df = collect_df[collect_df.duration > 0]

In [14]:
collect_df.dropna(inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [15]:
import re 

digit_pattern = re.compile("^\d+\.*\d*$")
a = list(collect_df["start_station_id"])
filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

collect_df = collect_df[filt]

In [16]:
a = list(collect_df["end_station_id"])
filt = list(map(lambda x: bool(digit_pattern.search(str(x))), a))

collect_df = collect_df[filt]

In [17]:
collect_df.start_station_id = collect_df.start_station_id.astype(int)
collect_df.end_station_id = collect_df.end_station_id.astype(int)

In [34]:
yearly_df = collect_df[["duration", "start_year"]].groupby(["start_year"]).agg("count")
yearly_df

            duration
start_year
2010          115595
2011         1226758
2012         2028896
2013         2555522
2014         2913140
2015         3185881
2016         3333974
2017         3757769
2018         3542684
2019         3398417
2020         2080727
2021         2056571

In [35]:
yearly_df.to_csv("yearly_data.csv")